# OS stuff
.DS_Store

# IDE or editors
/.idea/
/.vscode/
/.fleet/
/.envrc
__debug*
tags
TAGS

# build and data locations
/bin
/forester-controller
/forester-cli
/data

# config
/compose.env
/config/*.env
tern.conf

# HTTP client tests
/scripts/http/*.local.http
/scripts/http/*.private.env.json

# custom make targets
/mk/private.mk

# data files
/images
/composer-api-*
/*.iso
